{% extends 'base.html' %} {% block content %}
<main>
    <div class="intro">
    <h2>Can't Decide What To Eat?</h2>
    <p>Find food options near you just with the click of a button!</p>
    </div>

<div class="row row-cols-2">
    <div class="col">
        <div class="form-container">
            {% if session['CURR_USER_KEY'] %}
            <form id="user-search-form" method="POST" action="/api/user-get-restaurant">
            
                {{ form.hidden_tag() }}
            
            <p>
            {{ form.zip_code.label }} {{ form.zip_code(class_="form-control" , id="zip", minlength=5, maxlength=5) }}
            </p>

            <p>
            {{ form.category.label }} {{ form.category(class_="form-control", id="category") }}
            </p>

            <p>
              {{ form.price.label }} {{ form.price(class_="form-control", id="price") }}
              </p>
            
            <p>
            {{ form.radius.label }} {{ form.radius(class_="form-control slider", id
            = "myRange", min = "5", max = "20", step = "5", value = "5") }}
            <p><span id="output"></span></p>
            </p>

            {% for error in form.errors %}
            <span class="form-text text-danger">{{ error }}</span>
            {% endfor %}
      
        
        
            <div id="button-container" class="container-sm d-flex justify-content-center">
            <button id="search-form-button" type="submit" class="btn btn-primary btn-lg btn btn-success">
          What to Eat!
            </button>
            </div>
            </form>
            {% else %}
            <form id="anon-search-form" method="POST" action="/api/anon-get-restaurant">
            
              {{ form.hidden_tag() }}
          
          <p>
          {{ form.zip_code.label }} {{ form.zip_code(class_="form-control" , id="zip", minlength=5, maxlength=5) }}
          </p>

          <p>
          {{ form.category.label }} {{ form.category(class_="form-control", id="category") }}
          </p>
          
          <p>
          {{ form.radius.label }} {{ form.radius(class_="form-control slider", id
          = "myRange", min = "5", max = "20", step = "5", value = "5") }}
          <p><span id="output"></span></p>
          </p>

          {% for error in form.errors %}
          <span class="form-text text-danger">{{ error }}</span>
          {% endfor %}
    
      
      
          <div id="button-container" class="container-sm d-flex justify-content-center">
          <button id="search-form-button" type="submit" class="btn btn-primary btn-lg btn btn-success">
        What to Eat!
          </button>
          </div>
          </form>
          {% endif %}
    </div>
</div>

<div class="col">
  <div id = "card-container" class="card text-white bg-info mb-3 hidden" style="max-width: 18rem;">
    <div class="card-header text-center">Your Pick!</div>
    <img src="" class="card-img-top img-thumbnail" alt="">
    <div class="card-body">
      <h5 class="card-title text-center">Info card title</h5>
      <p id = "restaurant-address"class="card-text text-center"></p>
      <p id = "restaurant-city"class="card-text text-center"></p>
      <p id = "restaurant-phone" class="card-text text-center"></p>
      <a id = "restaurant-yelp"class="card-text text-center"></a>
    </div>
</div>
</div>
</main>
<footer class="text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        
        <!-- Github -->
        <a
          class="btn btn-primary btn-floating m-1"
          style="background-color: #333333;"
          href="https://github.com/Ricardo-Lewin/BiteFinder"
          role="button"
          ><i class="fab fa-github"></i
        ></a>
        
  
        <!-- Google -->
        <a
          class="btn btn-primary btn-floating m-1"
          style="background-color: #dd4b39;"
          href="https://drive.google.com/file/d/1VB7OfMk9O0hOWUNwOTl1I2gNpqs6NgSq/view?usp=sharing"
          role="button"
          ><i class="fas fa-file"></i
        ></a>
  
        <!-- Linkedin -->
        <a
          class="btn btn-primary btn-floating m-1"
          style="background-color: #0082ca;"
          href="https://www.linkedin.com/in/ricardo-lewin/"
          role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>

        <!-- Twitter -->
        <a
          class="btn btn-primary btn-floating m-1"
          style="background-color: #55acee;"
          href="https://twitter.com/Ricardo_L3win"
          role="button"
          ><i class="fab fa-twitter"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
  </footer>
{% endblock %}
