{% extends 'base.html' %} {% block content %}
<main>
  <h2>For the indecisive folks out there</h2>
  <p>Find food options near you just with the click of a button!</p>
  <div class="form-container">
    <form method="POST" action="/api/get-restaurant">
      {{ form.hidden_tag() }}
      <p>
        {{ form.zip_code.label }} {{ form.zip_code(class_="form-control") }}
      </p>
      <p>
        {{ form.category.label }} {{ form.category(class_="form-control") }}
      </p>
      <p>
        {{ form.radius.label }} {{ form.radius(class_="form-control slider", id
        = "myRange", min = "0", max = "25", step = "5", value = "5") }}
        <p><span id="output"></span></p>
      </p>
      {% for error in form.errors %}
      <span class="form-text text-danger">{{ error }}</span>
      {% endfor %}
      
        
      </div>
      <div class="container-sm d-flex justify-content-center">
        <button type="submit" class="btn btn-primary btn-lg btn btn-success">
          What to Eat!
        </button>
      </div>
      <div class="container-sm d-flex justify-content-center"></div>
    </form>
  </div>
</main>
{% endblock %}
